<div class="d-flex justify-content-end">
    <i class="bi bi-funnel-fill text-primary pointer h4 me-2" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    placement="left" ngbTooltip="Mostrar/Ocultar filtros"></i>
</div>

<form name="myForm" role="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="myForm" class="mb-2"
    #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="row">

        <div class="col-lg-{{input.width}}" *ngFor="let input of filterInputs" [ngSwitch]="input.type">
            <div class="mb-3" >
                <label [class.required]="input.required" for="{{input.name}}">
                    {{ input.label }} 
                    <i *ngIf="input.tooltip" class="bi bi-info-circle-fill text-primary" placement="top" ngbTooltip="{{input.tooltip}}"></i>
                </label>

                <input *ngSwitchCase="inputType.TEXT" type="text" class="form-control" name="{{input.name}}" id="{{input.name}}"
                    formControlName="{{input.name}}" (keyup)="onSubmit()" />

                <ng-select *ngSwitchCase="inputType.AUTOCOMPLETE" [items]="input.itemList" bindLabel="value" bindValue="id"
                    notFoundText="Sin items" clearAllText="Limpiar" (change)="onSubmit()" (search)="onSearch(input, $event)"
                    id="{{input.name}}" formControlName="{{input.name}}">
                </ng-select>
                
                <ng-select *ngSwitchCase="inputType.LIST" [items]="input.itemList" bindLabel="value" bindValue="id"
                    notFoundText="Sin items" clearAllText="Limpiar" (change)="onSubmit()" id="{{input.name}}"
                    formControlName="{{input.name}}">
                </ng-select>

                <div class="input-group" *ngSwitchCase="inputType.DATE">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="{{input.name}}" formControlName="{{input.name}}"
                        ngbDatepicker #inputDate="ngbDatepicker" [firstDayOfWeek]="7" (ngModelChange)="onSubmit()"
                        [minDate]="input.minDate!" [maxDate]="input.maxDate!">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="inputDate.toggle()" type="button" title="Ver Calendario">
                            <i class="bi bi-calendar3"></i>
                        </button>
                    </div>
                </div>

                <div *ngIf="myForm.get(input.name)!.invalid && (myForm.get(input.name)!.dirty || myForm.get(input.name)!.touched)">
                    <small class="form-text text-danger" *ngIf="myForm.get(input.name)?.errors?.required">
                        El campo es requerido.
                    </small>
                </div>
            </div>
        </div>

        <div class="col align-self-end">
            <div class="mb-3">
                <label>&nbsp;</label>
                <div class="text-end">
                    <button type="button" (click)="onClear()" class="btn btn-secondary ms-2" title="Limpiar">
                        <i class="bi bi-x-lg"></i>&nbsp;Limpiar
                    </button>
                </div>
            </div>
        </div>

    </div>
    <hr>
</form>