<form name="myFormFilter" role="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="myFormFilter" class="mb-2">
    <div class="row">

        <div class="col-lg-{{input.width}}" *ngFor="let input of filterInputs" [ngSwitch]="input.type">
            <div class="mb-3" >
                <label [class.required]="input.required">{{ input.label }}</label>

                <ng-select *ngSwitchCase="inputType.AUTOCOMPLETE" [items]="input.itemList" bindLabel="value" bindValue="id"
                    notFoundText="Sin items" clearAllText="Limpiar" (change)="onSubmit()" (search)="onSearch(input, $event)"
                    id="{{input.name}}" formControlName="{{input.name}}">
                </ng-select>
                
                <ng-select *ngSwitchCase="inputType.LIST" [items]="input.itemList" bindLabel="value" bindValue="id"
                    notFoundText="Sin items" clearAllText="Limpiar" (change)="onSubmit()" id="{{input.name}}"
                    formControlName="{{input.name}}">
                </ng-select>

                <div class="input-group" *ngSwitchCase="inputType.DATE">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="{{input.name}}" formControlName="{{input.name}}"
                        ngbDatepicker #inputDate="ngbDatepicker" [firstDayOfWeek]="7" (ngModelChange)="onSubmit()"
                        [minDate]="input.minDate!" [maxDate]="input.maxDate!">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="inputDate.toggle()" type="button" title="Ver Calendario">
                            <i class="bi bi-calendar3"></i>
                        </button>
                    </div>
                </div>

                <div *ngIf="myFormFilter.get(input.name)!.invalid && (myFormFilter.get(input.name)!.dirty || myFormFilter.get(input.name)!.touched)">
                    <small class="form-text text-danger" *ngIf="myFormFilter.get(input.name)?.errors?.required">
                        El campo es requerido.
                    </small>
                </div>
            </div>
        </div>

        <div class="col align-self-end">
            <div class="mb-3">
                <label>&nbsp;</label>
                <div class="text-end">
                    <button type="button" (click)="onClear()" class="btn btn-secondary ms-2" title="Limpiar">
                        <i class="bi bi-x-lg"></i>&nbsp;Limpiar
                    </button>
                </div>
            </div>
        </div>

    </div>
    <hr>
</form>