<div class="container-fluid">
  <h2>
    <button *hasPermission="['resources.write']" type="button" [routerLink]="['new']" class="btn btn-primary btn-icon"
      title="Crear Recurso">
      <i class="bi bi-plus-lg"></i>
    </button> Recursos
  </h2>

  <app-table [headers]="headers" [bodyTemplate]="customBody" [myForm]="myForm" [sort]="sort" [hasButtons]="true" [queryItems]="query" #tableComponent>

    <ng-template #customBody let-items>
      <tr *ngFor="let resource of items">
        <td>{{ resource.description }}</td>
        <td>{{ resource.code ? resource.code : '-' }}</td>
        <td>
          <ng-content *ngFor="let resourceType of resource.resourcesTypes">
            <div>
              {{ resourceType.description }}
            </div>
          </ng-content>
        </td>
        <td>
          <i *ngIf="resource.active" class="bi bi-check-square text-success"></i>
          <i *ngIf="!resource.active" class="bi bi-square text-danger outline"></i>
        </td>
        <td class="text-end">
          <button *hasPermission="['resources.read']" type="button" [routerLink]="[resource.id, 'view']"
            class="btn btn-info btn-icon ms-1" title="Ver">
            <i class="bi bi-eye"></i>
          </button>

          <button *hasPermission="['resources.write']" type="button" [routerLink]="[resource.id, 'edit']"
            class="btn btn-primary btn-icon ms-1" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>

          <button *hasPermission="['resources.delete']" type="button" (click)="delete(resource)"
            class="btn btn-danger btn-icon ms-1" title="Eliminar">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>

  </app-table>
</div>
