::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#sidebar {
    width: 5vw;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
}

.main {
    background-color: #fafbfe;
    margin-left: 20%;
}

.main2 {
    margin-left: 5vw;
}

#sidebar.expand {
    width: 20%;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) a.sidebar-link span,
#sidebar:not(.expand) .sidebar-logo {
    display: none;
}

#sidebar:not(.expand) .sidebar-link {
    text-align: center;
    padding: .625rem 0;
}

.sidebar-nav {
    padding: 1rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
    .main {
        margin-left: 0;
        width: 100%;
    }
}
