.main {
    background-color: #fafbfe;
    margin-left: 20%;
    overflow: auto;
}

.main2 {
    margin-left: 5vw;
}

@media screen and (max-width: 768px) {
    .main {
        margin-left: 0;
        width: 100%;
        margin-bottom: 25%;
    }
}