<div class="m-sm-1">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h1 class="card-title">
        Cambiar contraseña
      </h1>
    </div>
    <div class="card-body">
      <form name="myForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="myForm">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="required" for="currentPassword">Contraseña actual</label>
              <input type="password" class="form-control" name="currentPassword" id="currentPassword"
                formControlName="currentPassword" />
              <div
                *ngIf="myForm.get('currentPassword')!.invalid && (myForm.get('currentPassword')!.dirty || myForm.get('currentPassword')!.touched)">
                <small class="form-text text-danger" *ngIf="myForm.get('currentPassword')?.errors?.required">
                  El campo es requerido.
                </small>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="required" for="password">Contraseña nueva</label>
              <input type="password" class="form-control" name="password" id="password" formControlName="password" />
              <div
                *ngIf="myForm.get('password')!.invalid && (myForm.get('password')!.dirty || myForm.get('password')!.touched)">
                <small class="form-text text-danger" *ngIf="myForm.get('password')?.errors?.required">
                  El campo es requerido.
                </small>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="required" for="passwordConfirm">Confirmar contraseña nueva</label>
              <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm"
                formControlName="passwordConfirm" />
              <div
                *ngIf="myForm.get('passwordConfirm')!.invalid && (myForm.get('passwordConfirm')!.dirty || myForm.get('passwordConfirm')!.touched)">
                <small class="form-text text-danger" *ngIf="myForm.get('passwordConfirm')?.errors?.required">
                  El campo es requerido.
                </small>
                <small class="form-text text-danger" *ngIf="!myForm.get('passwordConfirm')?.errors?.isMatching">
                  Las Contraseñas no coinciden.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="button-form">
          <button type="button" class="btn btn-secondary" (click)="previousState()" title="Volver">
            <i class="bi bi-arrow-left-short"></i>&nbsp;Volver
          </button>
          <button type="submit" [disabled]="myForm.invalid || isSaving" class="btn btn-primary" title="Guardar">
            <i class="bi bi-floppy"></i>&nbsp;Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>