<table class="table table-responsive">
    <thead>
        <ng-container *ngTemplateOutlet="defaultHeader">
        </ng-container>
    </thead>
    <tbody>
        <ng-container *ngTemplateOutlet="items.length ? bodyTemplate : bodyNoItems; context: {$implicit:  items}">
        </ng-container>
    </tbody>
</table>
<app-paginated [page]="page" [totalPages]="totalPages" (executeQuery)="executeQuery($event)"></app-paginated>

<ng-template #defaultHeader>
    <tr>
        <th scope="col" *ngFor="let header of headers">
            <div class="d-flex justify-content-between" [class.pointer]="header.canSort"
                (click)="header.canSort ? onSortChange(header.colName) : null">
                {{ header.label}}
                <small class="ms-1" *ngIf="header.canSort">
                    <i class="bi bi-sort-alpha-down-alt" *ngIf="sort[0] === 'DESC' && sort[1] === header.colName"></i>
                    <i class="bi bi-sort-alpha-down" *ngIf="sort[0] === 'ASC' && sort[1] === header.colName"></i>
                    <i class="bi bi-sort-down" *ngIf="sort[1] !== header.colName"></i>
                </small>
            </div>
        </th>
        <th scope="col" *ngIf="hasButtons"></th>
    </tr>
</ng-template>

<ng-template #bodyNoItems>
    <tr>
        <td colspan="20">No hay items para mostrar.</td>
    </tr>
</ng-template>