.toast {
    position: fixed;
    right: 0.2rem;
    max-width: none;
    z-index: 100000;
    top: 15px;

    @media screen and (min-width: 769px) { 
        min-width: 400px;
    }
}

.toast-header {
    color: darkslategrey;
}