<div [class.show]="showErrorToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Error <i class="bi bi-emoji-frown"></i></strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" title="Cerrar"></button>
    </div>

    <div class="toast-body">
        {{ errorMessage }}
    </div>
</div>

<div [class.show]="showSuccessToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Éxito <i class="bi bi-emoji-grin"></i></strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" title="Cerrar"></button>
    </div>
    <div class="toast-body">
        {{ successMessage }}
    </div>
</div>

<div [class.show]="showInfoToast" class="toast bg-info text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Info <i class="bi bi-emoji-smile"></i></strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" title="Cerrar"></button>
    </div>
    <div class="toast-body">
        {{ infoMessage }}
    </div>
</div>