<div class="container">
  <h2>
    <button *hasPermission="['holidays.write']" type="button" [routerLink]="['new']" class="btn btn-primary btn-icon"
      title="Crear Feriado">
      <i class="bi bi-plus"></i>
    </button> Feriados
  </h2>

  <app-table [headers]="headers" [bodyTemplate]="customBody" [myForm]="myForm" [sort]="sort" [hasButtons]="true" [queryItems]="query"
    #tableComponent>

    <ng-template #customBody let-items>
      <tr *ngFor="let holiday of items">
        <td>{{ holiday.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ holiday.description }}</td>
        <td>
          <i *ngIf="holiday.useInAgenda" class="bi bi-check-square text-success"></i>
          <i *ngIf="!holiday.useInAgenda" class="bi bi-square text-danger outline"></i>
        </td>
        <td>
          <i *ngIf="holiday.active" class="bi bi-check-square text-success"></i>
          <i *ngIf="!holiday.active" class="bi bi-square text-danger outline"></i>
        </td>
        <td class="text-end">
          <button *hasPermission="['holidays.read']" type="button" [routerLink]="[holiday.id, 'view']"
            class="btn btn-info btn-icon ms-1" title="Ver">
            <i class="bi bi-eye"></i>
          </button>

          <button *hasPermission="['holidays.write']" type="button" [routerLink]="[holiday.id, 'edit']"
            class="btn btn-primary btn-icon ms-1" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>

          <button *hasPermission="['holidays.delete']" type="button" (click)="delete(holiday)"
            class="btn btn-danger btn-icon ms-1" title="Eliminar">
            <i class="bi bi-x"></i>
          </button>
        </td>
      </tr>
    </ng-template>

  </app-table>
</div>