<form *ngIf="agenda" name="activateForm" (ngSubmit)="confirmActivate(agenda.id!)">
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title">Confirmar operación</h4>
    </div>

    <div class="modal-body">
        <p>
            ¿Está seguro que desea activar la Disponibilidad <strong>{{ agenda.startDate | date: 'dd/MM/yyyy HH:mm' }} - {{ agenda.resource.description }}</strong>?
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" title="Cancelar">
            <i class="bi bi-ban"></i>&nbsp;Cancelar
        </button>

        <button type="submit" class="btn btn-primary" title="Activar">
            <i class="bi bi-calendar-plus"></i>&nbsp;Activar
        </button>
    </div>
</form>