<aside id="sidebar" [class.expand]="expandedSidebar" class="bg-dark">
    <div class="d-sm-flex justify-content-between shadow">
        <button class="toggle-btn" type="button" (click)="expandSidebar()">
            <i class="bi bi-list"></i>
        </button>
        <div class="sidebar-logo pe-3">
            <a href="/schedule"><i class="bi bi-calendar-heart"></i> Turnera</a>
        </div>
    </div>

    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a *hasPermission="['home.index']" class="sidebar-link" [class.text-truncate]="expandedSidebar"
                href="/schedule"><i class="bi bi-calendar3"></i><span>Calendario</span></a>
        </li>
        <li class="sidebar-item">
            <a *hasPermission="['customers.read']" class="sidebar-link" [class.text-truncate]="expandedSidebar"
                href="/customers"><i class="bi bi-people"></i> <span>Clientes</span></a>
        </li>
        <li class="sidebar-item">
            <a *hasPermission="['resourcesTypes.read']" class="sidebar-link" [class.text-truncate]="expandedSidebar"
                href="/resources-types"><i class="bi bi-tools"></i> <span>Tipos de Recursos</span></a>
        </li>
        <li class="sidebar-item">
            <a *hasPermission="['resources.read']" class="sidebar-link" [class.text-truncate]="expandedSidebar"
                href="/resources"><i class="bi bi-tools"></i> <span>Recursos</span></a>
        </li>
        <li class="sidebar-item">
            <a *hasPermission="['holidays.read']" class="sidebar-link" [class.text-truncate]="expandedSidebar"
                href="/holidays"><i class="bi bi-calendar-x"></i> <span>Feriados</span></a>
        </li>
        <li class="sidebar-item border-desktop">
            <a *hasPermission="['profiles.read']" class="sidebar-link" [class.text-truncate]="expandedSidebar"
                href="/profiles"><i class="bi bi-person-gear"></i> <span>Perfiles</span></a>
        </li>
        <li class="sidebar-item">
            <a *hasPermission="['users.read']" class="sidebar-link" [class.text-truncate]="expandedSidebar"
                href="/users"><i class="bi bi-person-workspace"></i> <span>Usuarios</span></a>
        </li>
        <li class="sidebar-item">
            <a *hasPermission="['organizations.read']" class="sidebar-link" [class.text-truncate]="expandedSidebar"
                href="/organizations"><i class="bi bi-building-gear"></i> <span>Mi Organización</span></a>
        </li>

        <li class="sidebar-item border-desktop">
            <a href="/users/password-change" class="sidebar-link" [class.text-truncate]="expandedSidebar">
                <i class="bi bi-key"></i>
                <span>Cambiar contraseña</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link" [class.text-truncate]="expandedSidebar">
                <i class="bi bi-box-arrow-right"></i>
                <span>Cerrar sesión</span>
            </a>
        </li>
    </ul>
</aside>