<form *ngIf="user" name="deleteForm" (ngSubmit)="confirmDelete(user.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar operación</h4>
        <button type="button" class="btn-close" (click)="cancel()" title="Cancelar"></button>
    </div>

    <div class="modal-body">
        <p>
            ¿Está seguro que desea eliminar el Usuario <strong>{{ user.username }}</strong>?
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" title="Cancelar">
            <i class="bi bi-ban"></i>&nbsp;Cancelar
        </button>

        <button type="submit" class="btn btn-danger" title="Eliminar">
            <i class="bi bi-x"></i>&nbsp;Eliminar
        </button>
    </div>
</form>