<div class="container">
  <h2>
    <button *hasPermission="['users.write']" type="button" [routerLink]="['new']" class="btn btn-primary btn-icon"
      title="Crear Usuario">
      <i class="bi bi-plus-lg"></i>
    </button> Usuarios
  </h2>

  <app-table [headers]="headers" [bodyTemplate]="customBody" [myForm]="myForm" [sort]="sort" [hasButtons]="true"
    [queryItems]="query" #tableComponent>

    <ng-template #customBody let-items>
      <tr *ngFor="let user of items">
        <td>
          {{ user.firstName }}
        </td>
        <td>
          {{ user.lastName }}
        </td>
        <td>
          {{ user.username }}
        </td>
        <td>
          <i *ngIf="user.active" class="bi bi-check-square text-success"></i>
          <i *ngIf="!user.active" class="bi bi-square text-danger outline"></i>
        </td>
        <td class="text-end">
          <button *hasPermission="['users.read']" type="button" [routerLink]="[user.id, 'view']"
            class="btn btn-info btn-icon ms-1" title="Ver">
            <i class="bi bi-eye"></i>
          </button>

          <button *hasPermission="['users.write']" type="button" [routerLink]="[user.id, 'edit']"
            class="btn btn-primary btn-icon ms-1" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>

          <button *hasPermission="['users.delete']" [disabled]="sessionUser.id === user.id" type="button"
            (click)="delete(user)" class="btn btn-danger btn-icon ms-1"
            [title]="sessionUser.id === user.id ? 'No puede eliminar su propio Usuario' : 'Eliminar'">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>

  </app-table>
</div>