@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
  font-family: Helvetica, sans-serif;
}

@media screen and (min-width: 991px) {
  body {
    font-size: 15px;
  }
}

.container {
  margin-bottom: 50px;
}

@media screen and (max-width: 991px) {
  .form-public {
    width: 100% !important;
  }

  .input-group {
    min-width: 120px;
  }
}

.form-public {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.button-form {
  border-top: lightgray 0.1rem solid;
  text-align: right;
  padding-top: 0.5rem !important;
  margin-top: 1rem;

  .btn {
    margin-left: 0.5rem !important;
  }
}

.required:after {
  content: " (*)";
  color: #dc3545;
}

.appointmentStatus {
  width: 75px;
}

.pointer {
  cursor: pointer;
}

.btn-icon {
  width: 30px;
  height: 30px;
}

button > fa-icon > svg {
  font-size: smaller !important;
}

strong > fa-icon > svg {
  font-size: smaller !important;
}

.close {
  font-size: x-large !important;
}

button {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}

.form-check-input {
  cursor: pointer;
}

.badge {
  user-select: none;
}